.notifications-menu .empty-row {
    display: none;
    height: 100px;
    width: 100%;
    text-align: center;
    color: #868e96;
    padding: .5rem 12px;
}
.notifications-menu .empty-row:only-child {
    display: table;
}
.notifications-menu .empty-row>span {
    display: table-cell;
    vertical-align: middle;
}

#notifications-items {
    list-style-type: none;
    padding: 5px;
}

.notification-item:last-child {
    border-bottom: 0;
}
.notification-item.read {
    background-color: #fff;
}
.notification-item:hover {
    background-color: #f9f9fc;
}
.notification-item .mark-read {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.notification-item:hover .mark-read {
    background-color: #94bddd;
}
.notification-item.seen:hover .mark-read {
    background-color: #bcbcbc;
}
.message {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3em;
    white-space: normal;
}
.dropdown-item {
    height: 82px;
    display: table;
    width: 100%;
    background-color: #edf2fa;
}

.dropdown-item.seen:hover, .dropdown-item.seen:focus, .dropdown-item.seen a:hover, .dropdown-item.seen a:focus {
    background-image:linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41, .04)) !important;
}

.dropdown-item a {
    height: 82px;
    display: table-cell !important;
    vertical-align: middle;
}

.text-sw {
    color: #3c8dbc !important;
}
.dropdown-item.seen {
    background-color: #fff;
}